.item{display: flex;
    margin-bottom: 10px;
    width: 450px;
    align-items: center;
}
button {
    border: none;
    outline: 1px solid blanchedalmond;
    background-color: yellow;
}
.item__text{
    width: 400px;
    margin-right: 20px;
}